<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action active"
    aria-current="false"
    routerLink="/cars"
  >
    All Color List
  </a>
  <li
  href="#"
    class="list-group-item list-group-item-action "
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.colorId }}"
    *ngFor="let color of colors"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>

  <h5 *ngIf="currentColor">{{ currentColor.colorName }} selected</h5>
</div>
